body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
}

header {
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  box-shadow: 0 0 10px var(--primary);
}

header h1 {
  text-align: center;
  font-size: 36px;
  font-style: italic;
}

main {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
  padding: 1rem;
  font-size: .9rem;
}

footer {
  text-align: center;
  font-size: .8rem;
  padding: 3rem;
  margin-top: 1rem;
  border-top: 1px solid var(--border);
  /* background-color: var(--primary); */
  /* color: var(--primary-foreground); */
  /* box-shadow: 0 0 10px var(--primary); */
  box-shadow: 0 0 10px var(--border);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.team {
  padding: 10px;
}

#team-table-1, #team-table-2, #team-table-3 {
  tr {
    height: 2rem;
  }
}

#team-table-1, #team-table-3 {
  tr td:nth-child(1) {
    padding-right: 1rem;
  }
  tr td:nth-child(2) {
    width: 12rem;
  }
}

#team-table-2 {
  tr td:nth-child(1) {
    padding-right: 1rem;
  }
  tr td:nth-child(2) {
    width: 3rem;
  }
  tr td:nth-child(3) {
    text-align: center;
    width: 1.5rem;
  }
  tr td:nth-child(4) {
    text-align: right;
    width: 5rem;
  }
  tr td:nth-child(5) {
    text-align: right;
    width: 6rem;
  }
}

.player-table {
  border-collapse: collapse;
  line-height: normal;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--border);
}

.player-table th {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: 1px solid var(--primary);
  padding: 0.2rem 0.2rem;
  font-style: italic;
}

.player-table td {
  border: 1px solid var(--border);
  padding: 0.1rem 0.2rem;
}

.player-table td.player-number {
  text-align: center;
  width: 30px;
  background-color: var(--secondary);
  font-style: italic;
}

.player-table td.player-name {
  padding: 0;
  width: 180px;

  input {
    width: 100%;
    border: none;
    padding: 0.1rem 0.2rem;
    background-color: transparent;
  }
}

.player-table td.player-position {
  padding: 0;
  width: 180px;

  button {
    width: 100%;
    border: none;
    background-color: transparent;
  }

  div.keywords {
    font-size: 0.6rem;
    padding: 0.1rem 0.5rem;
  }
}

.player-table td.player-char {
  width: 32px;
  text-align: center;
}

/* .player-table td.player-skills {} */

.player-table td.player-value {
  width: 90px;
  text-align: right;
}

.player-table td.swap-player {
  width: 25px;
  text-align: center;
  cursor: pointer;
  background-color: var(--secondary);
}

.player-table td.swap-player-selected {
  color: var(--primary-foreground);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

td.player-skills span {
  white-space: pre;
}

/* td.player-skills span.skill-default {} */
/* td.player-skills span.skill-primary {} */
/* td.player-skills span.skill-secondary {} */

td.player-skills span.skill-special {
  font-style: italic;
}

#available-inducements-table {
  tr {
    height: 2rem;
  }

  tr td:nth-child(1) {
    padding-right: 1rem;
  }
  tr td:nth-child(2) {
    width: 3rem;
  }
  tr td:nth-child(3) {
    text-align: center;
    width: 1.5rem;
  }
  tr td:nth-child(4) {
    text-align: right;
    width: 5rem;
  }
  tr td:nth-child(5) {
    text-align: right;
    width: 6rem;
  }
}
